## Libraries

In [ ]:
!pip install geemap

In [ ]:
!pip install pycrs

In [ ]:
!pip install pyshp

In [ ]:
# Import the relevant libraries
import ee
import geemap
import pandas as pd

## Initialize GEE

In [ ]:
# Initalize Earth Engine
try:
    ee.Initialize()
except:
    ee.Authenticate()
    ee.Initialize()

## Accessing Shapefile from Portugal

In [ ]:
# Accessing Portugal shapefile level 2 municipalities

file = "/content/shapefile2/PRT_adm2.shp" 
portugal = geemap.shp_to_ee(file)

## PVOUT

In the following Website https://globalsolaratlas.info/download/portugal the following data must be downloaded


"Gis data - LTAym_YearlyMonthlyTotals (GeoTIFF)"

Then the TIF file of the solar metrics (PVOUT, DNI, DIF) must be uploaded in GEE Code Editor in order to access it in the code below

In [ ]:
# Access PVOUT in GEE adding the path to the file

solarpvout = ee.Image("projects/XXX/assets/PVOUT")

# Add reducer output to the Features in the collection.
solarpvoutFC = solarpvout.reduceRegions(
  collection =  portugal,
  reducer = ee.Reducer.mean(),
  
);

In [ ]:
# Convert to DataFrame
df_pvout = geemap.ee_to_pandas(solarpvoutFC)

In [ ]:
df_pvout.sort_values(by='mean', ascending=False)

,mean,ENGTYPE_2,ISO,NL_NAME_2,ID_2,NAME_2,ID_0,NAME_0,ID_1,NAME_1,TYPE_2,VARNAME_2
123,1732.426630,Municipality,PRT,,124,Faro,182,Portugal,9,Faro,Concelho,
124,1727.236799,Municipality,PRT,,125,Lagoa,182,Portugal,9,Faro,Concelho,
128,1725.481224,Municipality,PRT,,129,Olhão,182,Portugal,9,Faro,Concelho,
119,1718.764314,Municipality,PRT,,120,Albufeira,182,Portugal,9,Faro,Concelho,
132,1714.034717,Municipality,PRT,,133,Vila do Bispo,182,Portugal,9,Faro,Concelho,
...,...,...,...,...,...,...,...,...,...,...,...,...
34,1148.866577,Municipality,PRT,,35,Calheta,182,Portugal,3,Azores,Concelho,
43,1135.633441,Municipality,PRT,,44,Povoação,182,Portugal,3,Azores,Concelho,
41,1127.018150,Municipality,PRT,,42,Nordeste,182,Portugal,3,Azores,Concelho,
38,1103.652346,Municipality,PRT,,39,Lajes das Flores,182,Portugal,3,Azores,Concelho,
48,1100.172330,Municipality,PRT,,49,Santa Cruz das Flores,182,Portugal,3,Azores,Concelho,

## DIF

In [ ]:
# Access DIF in GEE adding the path to the file
solardfi = ee.Image("projects/XXX/assets/DIF")

# Add reducer output to the Features in the collection.
solardfiFC = solardfi.reduceRegions(
  collection =  portugal,
  reducer = ee.Reducer.mean(),
  
);

solardfiFC

In [ ]:
# Convert to DataFrame
df_dif = geemap.ee_to_pandas(solardfiFC)

In [ ]:
df_dif.sort_values(by='mean', ascending=False)

,mean,ENGTYPE_2,ISO,NL_NAME_2,ID_2,NAME_2,ID_0,NAME_0,ID_1,NAME_1,TYPE_2,VARNAME_2
186,773.280185,Municipality,PRT,,187,Porto Santo,182,Portugal,13,Madeira,Concelho,
50,746.481957,Municipality,PRT,,51,Vila do Porto,182,Portugal,3,Azores,Concelho,
37,739.522446,Municipality,PRT,,38,Lagoa,182,Portugal,3,Azores,Concelho,
51,735.823610,Municipality,PRT,,52,Vila Franca do Campo,182,Portugal,3,Azores,Concelho,
42,732.892704,Municipality,PRT,,43,Ponta Delgada,182,Portugal,3,Azores,Concelho,
...,...,...,...,...,...,...,...,...,...,...,...,...
90,531.509903,Municipality,PRT,,91,Vinhais,182,Portugal,6,Bragança,Concelho,
140,531.093544,Municipality,PRT,,141,Guarda,182,Portugal,10,Guarda,Concelho,
74,527.580155,Municipality,PRT,,75,Terras de Bouro,182,Portugal,5,Braga,Concelho,
93,526.601769,Municipality,PRT,,94,Covilhã,182,Portugal,7,Castelo Branco,Concelho,
142,517.538563,Municipality,PRT,,143,Manteigas,182,Portugal,10,Guarda,Concelho,

## DNI

In [ ]:
# Access DIF in GEE adding the path to the file
solardni = ee.Image("projects/XXX/assets/DNI")

# Add reducer output to the Features in the collection.
solardniFC = solardni.reduceRegions(
  collection =  portugal,
  reducer = ee.Reducer.mean(),
  
);

solardniFC

In [ ]:
# COnvert to DataFrame
df_dni = geemap.ee_to_pandas(solardniFC)

In [ ]:
df_dni.sort_values(by='mean', ascending=False)

,mean,ENGTYPE_2,ISO,NL_NAME_2,ID_2,NAME_2,ID_0,NAME_0,ID_1,NAME_1,TYPE_2,VARNAME_2
123,2126.802945,Municipality,PRT,,124,Faro,182,Portugal,9,Faro,Concelho,
128,2109.786029,Municipality,PRT,,129,Olhão,182,Portugal,9,Faro,Concelho,
124,2106.516425,Municipality,PRT,,125,Lagoa,182,Portugal,9,Faro,Concelho,
119,2104.737871,Municipality,PRT,,120,Albufeira,182,Portugal,9,Faro,Concelho,
133,2086.957563,Municipality,PRT,,134,Vila Real de Santo António,182,Portugal,9,Faro,Concelho,
...,...,...,...,...,...,...,...,...,...,...,...,...
34,834.554682,Municipality,PRT,,35,Calheta,182,Portugal,3,Azores,Concelho,
41,812.430737,Municipality,PRT,,42,Nordeste,182,Portugal,3,Azores,Concelho,
43,805.953529,Municipality,PRT,,44,Povoação,182,Portugal,3,Azores,Concelho,
48,756.748866,Municipality,PRT,,49,Santa Cruz das Flores,182,Portugal,3,Azores,Concelho,
38,751.154263,Municipality,PRT,,39,Lajes das Flores,182,Portugal,3,Azores,Concelho,

## Join DataFrames

In [ ]:
# This will display only 2 decimals in the floats
pd.options.display.float_format = '{:.2f}'.format

NameError: ignored

In [ ]:
df_pvout.columns

Index(['mean', 'ENGTYPE_2', 'ISO', 'NL_NAME_2', 'ID_2', 'NAME_2', 'ID_0',
       'NAME_0', 'ID_1', 'NAME_1', 'TYPE_2', 'VARNAME_2'],
      dtype='object')

In [ ]:
# Select relevant columns
pvout_final = df_pvout[["mean", "NAME_2", "NAME_1"]]
pvout_final

            mean              NAME_2 NAME_1
0    1638.324964               Évora  Évora
1    1641.759751           Alandroal  Évora
2    1622.882195           Arraiolos  Évora
3    1655.220816               Borba  Évora
4    1633.313852            Estremoz  Évora
..           ...                 ...    ...
301  1542.291893             Tarouca  Viseu
302  1504.835597             Tondela  Viseu
303  1555.210482  Vila Nova de Paiva  Viseu
304  1536.228155               Viseu  Viseu
305  1502.422338             Vouzela  Viseu

[306 rows x 3 columns]

In [ ]:
# Rename Columns
pvout_final = pvout_final.rename(columns={"mean": "PVOUT_Mean (kWh/kWp)", "NAME_2": "Municipality", "NAME_1": "District"}).sort_values(by = ["Municipality"])

In [ ]:
pvout_final.head(10)

     PVOUT_Mean (kWh/kWp)        Municipality  District
224               1582.42            Abrantes  Santarém
134               1553.53     Aguiar da Beira    Guarda
1                 1641.76           Alandroal     Évora
16                1482.77  Albergaria-a-Velha    Aveiro
119               1718.76           Albufeira      Faro
225               1566.70            Alcanena  Santarém
149               1525.73            Alcobaça    Leiria
246               1611.68           Alcochete   Setúbal
120               1669.05            Alcoutim      Faro
245               1625.60      Alcácer do Sal   Setúbal

In [ ]:
# Rename Columns
dif_final = df_dif[["mean", "NAME_2"]].rename(columns={"mean": "DIF_Mean (kWh/m2)", "NAME_2": "Municipality"}).sort_values(by = ["Municipality"])

In [ ]:
dif_final.head(10)

     DIF_Mean (kWh/m2)        Municipality
224             567.88            Abrantes
134             541.84     Aguiar da Beira
1               567.07           Alandroal
16              577.83  Albergaria-a-Velha
119             589.98           Albufeira
225             573.64            Alcanena
149             598.23            Alcobaça
246             592.82           Alcochete
120             581.46            Alcoutim
245             585.79      Alcácer do Sal

In [ ]:
# Rename Columns
dni_final = df_dni[["mean", "NAME_2"]].rename(columns={"mean": "DNI_Mean (kWh/m2)", "NAME_2": "Municipality"}).sort_values(by = ["Municipality"])

In [ ]:
dni_final.head(10)

     DNI_Mean (kWh/m2)        Municipality
224            1905.11            Abrantes
134            1872.00     Aguiar da Beira
1              2028.61           Alandroal
16             1671.38  Albergaria-a-Velha
119            2104.74           Albufeira
225            1848.39            Alcanena
149            1683.33            Alcobaça
246            1913.59           Alcochete
120            2037.42            Alcoutim
245            1950.49      Alcácer do Sal

In [ ]:
# Join DataFrames
final_df = pd.concat([pvout_final, dni_final["DNI_Mean (kWh/m2)"], dif_final["DIF_Mean (kWh/m2)"]], axis=1, join="inner")
final_df

,PVOUT_Mean (kWh/kWp),Municipality,District,DNI_Mean (kWh/m2),DIF_Mean (kWh/m2)
224,1582.42,Abrantes,Santarém,1905.11,567.88
134,1553.53,Aguiar da Beira,Guarda,1872.00,541.84
1,1641.76,Alandroal,Évora,2028.61,567.07
16,1482.77,Albergaria-a-Velha,Aveiro,1671.38,577.83
119,1718.76,Albufeira,Faro,2104.74,589.98
...,...,...,...,...,...
305,1502.42,Vouzela,Viseu,1750.20,551.43
14,1468.16,Águeda,Aveiro,1653.48,574.11
0,1638.32,Évora,Évora,2006.88,571.48
15,1536.34,Ílhavo,Aveiro,1720.87,589.92
148,1520.08,Óbidos,Leiria,1633.96,619.52

In [ ]:
# Order the columns
final_df = final_df[['Municipality', 'District', 'PVOUT_Mean (kWh/kWp)', 'DNI_Mean (kWh/m2)', 'DIF_Mean (kWh/m2)']]

In [ ]:
final_df

,Municipality,District,PVOUT_Mean (kWh/kWp),DNI_Mean (kWh/m2),DIF_Mean (kWh/m2)
224,Abrantes,Santarém,1582.42,1905.11,567.88
134,Aguiar da Beira,Guarda,1553.53,1872.00,541.84
1,Alandroal,Évora,1641.76,2028.61,567.07
16,Albergaria-a-Velha,Aveiro,1482.77,1671.38,577.83
119,Albufeira,Faro,1718.76,2104.74,589.98
...,...,...,...,...,...
305,Vouzela,Viseu,1502.42,1750.20,551.43
14,Águeda,Aveiro,1468.16,1653.48,574.11
0,Évora,Évora,1638.32,2006.88,571.48
15,Ílhavo,Aveiro,1536.34,1720.87,589.92
148,Óbidos,Leiria,1520.08,1633.96,619.52

In [ ]:
# Export file to Excel
final_df.to_excel("solar_metrics.xlsx", index=False)